<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/contacts.css">
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="../scripts/main.js"></script>
        <script src="../scripts/contacts.js"></script>
    </head>
    <body>
        <main>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1453.825630012632!2d27.90769875806885!3d43.216803449493476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a454703db73de7%3A0xf2fae2583a00a1df!2z0YPQuy4g4oCe0J_QtdGC0LrQviDQri4g0KLQvtC00L7RgNC-0LLigJwgOCwgOTAwMCDQktCw0YDQvdCwINCm0LXQvdGC0YrRgCwg0JLQsNGA0L3QsA!5e0!3m2!1sbg!2sbg!4v1523881136291" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div id="contanctInformation">
                    <p id="contactEmail">beans&pawns@gmail.com</p>
                    <div id="contactInfo">
                        <span id="address">Варна, България <br>
                            Център, ул. „Петко Ю. Тодоров“ 8, 9000 <br>
                            Beans and Pawns LTD</span>
                        <span id="workHoursAndPhone">
                        10:00 - 22:00
                        (Понеделник - Петък)
                        <br>
                        09:00 - 23:00
                        (Събота и Неделя)
                        <br>
                        +359 883 223 221
                    </span>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>