<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/gallery.css">
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="../scripts/main.js"></script>
    </head>
    <body>
        <main>
            <div id="galleryContainer">
                <div class="gal-img-container">
                    <a href="images/bg-collection.jpg"
                       data-lightbox="bg-collection" data-title="Нашата голяма колекция от настолни игри.">
                        <img src="../images/bg-collection.jpg" alt="bg-collection">
                    </a>
                    <p>Нашата голяма колекция от настолни игри.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/friday-afternoon.jpg"
                       data-lightbox="bg-collection" data-title="Петък следобед.">
                        <img src="../images/friday-afternoon.jpg" alt="bg-collection">
                    </a>
                    <p>Петък следобед.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/bg-collection.jpg"
                       data-lightbox="bg-collection" data-title="Нашата голяма колекция от настолни игри.">
                        <img src="../images/bg-collection.jpg" alt="bg-collection">
                    </a>
                    <p>Нашата голяма колекция от настолни игри.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/friday-afternoon.jpg"
                       data-lightbox="bg-collection" data-title="Петък следобед.">
                        <img src="../images/friday-afternoon.jpg" alt="bg-collection">
                    </a>
                    <p>Петък следобед.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/bg-collection.jpg"
                       data-lightbox="bg-collection" data-title="Нашата голяма колекция от настолни игри.">
                        <img src="../images/bg-collection.jpg" alt="bg-collection">
                    </a>
                    <p>Нашата голяма колекция от настолни игри.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/friday-afternoon.jpg"
                       data-lightbox="bg-collection" data-title="Петък следобед.">
                        <img src="../images/friday-afternoon.jpg" alt="bg-collection">
                    </a>
                    <p>Петък следобед.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/bg-collection.jpg"
                       data-lightbox="bg-collection" data-title="Нашата голяма колекция от настолни игри.">
                        <img src="../images/bg-collection.jpg" alt="bg-collection">
                    </a>
                    <p>Нашата голяма колекция от настолни игри.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/friday-afternoon.jpg"
                       data-lightbox="bg-collection" data-title="Петък следобед.">
                        <img src="../images/friday-afternoon.jpg" alt="bg-collection">
                    </a>
                    <p>Петък следобед.</p>
                </div>
                <div class="gal-img-container">
                    <a href="images/bg-collection.jpg"
                       data-lightbox="bg-collection" data-title="Нашата голяма колекция от настолни игри.">
                        <img src="../images/bg-collection.jpg" alt="bg-collection">
                    </a>
                    <p>Нашата голяма колекция от настолни игри.</p>
                </div>
            </div>
            <hr>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="views/gallery.html?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="views/gallery.html?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="views/gallery.html?page=3">3</a></li>
                <li class="page-item"><a class="page-link" href="views/gallery.html?page=4">4</a></li>
                <li class="page-item"><a class="page-link" href="views/gallery.html?page=5">5</a></li>
            </ul>
        </main>
        <script src="../scripts/gallery.js"></script>
    </body>
</html>