<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/news.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/news.js"></script>
</head>
    <body>
        <main>
            <div id="newsContainer">
                <div class="title">Новини</div>
                <div class="news-item">
                    <div class="news-title">Тази седмица излизат нови игри</div>
                    <div class="news-content">Привет на всички наши клиенти. Екипът на Beans and Pawns иска да ви информира че от тази седмица кафенето ни ще предлага няколко нови игри. Всяка една от тях ще е безплатна за периода 4.24 / 4.35. На масите ще бъдат оставени анкети за да споделите мнението си относно новите игри.</div>
                </div>
                <div class="news-item">
                    <div class="news-title">Турнир</div>
                    <div class="news-content">На 04.30.2018г. от 10:00 се организира турнир Ticket to ride. Няма ограничения за участниците, всеки желаещ може да си пробва късмета.  Наградния фонд е #1 - 100лв, #2 - 50лв, #3 - 20лв.</div>
                </div>
                <div class="news-item">
                    <div class="news-title">Ремонт</div>
                    <div class="news-content">На 05.15.2018г. -- 05.20.2018г. Заведението ще е затворено поради ремонти дейности. Благодаря ви за разбирането!</div>
                </div>
                <div class="news-item">
                    <div class="news-title">Отстъпки</div>
                    <div class="news-content">През целият Май месец всички игри са с 30% намаление. Също така след 18:00 напитките ще са с 20% отстъпка. В Неделя всички бордови игри ще са безплатни.</div>
                </div>
            </div>
            <hr>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="views/news.html?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="views/news.html?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="views/news.html?page=3">3</a></li>
                <li class="page-item"><a class="page-link" href="views/news.html?page=4">4</a></li>
                <li class="page-item"><a class="page-link" href="views/news.html?page=5">5</a></li>
            </ul>
        </main>
    </body>
</html>

