<ul class="list" id="board-game-list">
    <h5><strong>Настолни игри</strong></h5>
    <li><a href="views/board-game-views/roleplaying-games.html">Ролеви игри</a></li>
    <li><a href="views/board-game-views/strategy-games.html">Стратегически игри</a></li>
    <li><a href="views/board-game-views/cooperative-games.html">Кооперативни игри</a></li>
    <li><a href="views/board-game-views/games-in-bulgarian.html">Игри на български</a></li>
    <li><a href="views/board-game-views/card-games.html">Игри с карти</a></li>
    <li><a href="views/board-game-views/family-games.html">Семейни игри</a></li>
    <li><a href="views/board-game-views/childrens-games.html">Детски игри</a></li>
</ul>

<br>

<ul class="list" id="menu">
    <h5><strong>Меню</strong></h5>
    <li><a href="views/index.html">Студени и топли напитки</a></li>
    <li><a href="views/index.html">Сладки</a></li>
    <li><a href="views/index.html">Шейкове</a></li>
    <li><a href="views/index.html">Алкохолни напитки</a></li>
</ul>