<div class="container">
    <div class="navbar-header">
        <a href="views/index.html">
            <img src="images/logo.png" alt="logo">
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li> <a href="views/index.html" id="topNavIndex">Начало</a> </li>
        <li> <a href="views/gallery.html" id="topNavGallery">Галерия</a> </li>
        <li> <a href="views/news.html" id="topNavNews">Новини</a> </li>
        <li> <a href="views/contacts.html" id="topNavContacts">Контакти</a> </li>
        <li> <a href="views/about.html" id="topNavAbout">За нас</a> </li>
    </ul>
</div>
